* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.screen {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(83, 64, 255), rgb(255, 18, 77));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tracker-box {
    margin: 20px;
    color: white;
    width: 340px;
    background-color: rgb(44, 44, 44);
    padding: 10px 30px 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
}
.title {
    color: rgb(255, 155, 180);
    padding: 10px;
    grid-column: span 2;
    text-align: center;
}
.expense,
.income,
.balance {
    font-size: large;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    background-color: rgb(73, 73, 73);
    border-radius: 15px;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.amount {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.balance {
    grid-row: span 2;
}
.balance p {
    font-size: medium;
    margin: 5px;
    color: rgb(126, 221, 228);
}
.income p {
    font-size: medium;
    color: rgb(80, 255, 197);
}
.expense p {
    font-size: medium;
    color: rgb(253, 94, 94);
}
h3,
.list,
#transaction-name,
#transaction-amount,
button {
    grid-column: span 2;
    padding: 5px;
}
.transactions {
    margin: 3px 0px 3px;
    border-radius: 15px;
    list-style: none;
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
}
.title2{
    color: rgb(255, 155, 180);
}
.title3{
    color: rgb(255, 155, 180);
}
.plus{
    color:rgb(80, 255, 197);
}
.minus{
    color:rgb(253, 94, 94);
}
.dlt-button{
    background-color: rgb(255, 77, 77);
    color: white;
    border:none;
    margin: 0;
    margin-left: 5px;
    padding: 7px;
    border-radius: 10px;
}
.dlt-button:hover{
    background-color: brown;
}
input{
    font-size:small;
    color: white;
    width: 100%;
    background-color: transparent;
    border: none;
}
input:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.input{
    box-sizing: border-box;
    margin-bottom: 3px;
    border-radius: 15px;
    padding: 10px;
    list-style: none;
    background-color: rgb(73, 73, 73);
    text-align: center;
    height: wrap;
}
.add-btn{
    box-sizing: border-box;
    margin-bottom: 3px;
    border-radius: 15px;
    padding: 10px;
    list-style: none;
    background-color: rgb(82, 0, 214);
    text-align: center;
    transition: 0.1s transform ease-in;
}
.add-btn:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.add-btn:active{
    transform: scale(1);
    background-color: rgb(63, 0, 165);

}
